.myCourses{
    margin-top: $mg-2;
    .courses_content{
        width: 80%;
        margin: auto;
        .courses_intro{
            padding-top: $pd-1;
            h2{
                @include styleText($fs-4 - 4,$fw-normal,$color-black-0)
            }
        }
        .myTab{
            .nav{
                justify-content: space-between;
                border: none;
                .nav-item{
                    &:hover{
                        .nav-link{
                            border: none;
                        }
                    }
                    .nav-link.active{
                        border: none;
                        border-bottom: 5px solid $color-blue;
                    }
                    .nav-link{
                        @include styleText($fs-0,$fw-normal,$color-black-0);
                        border: none;
                    }
                }

            }

            .tab-content{
                margin-top: $mg-1;
                position: relative;
            }
            .card-title{
                @include styleText($fs-0,$fw-bold,$color-black-0);
            }
            .card-text{
                @include styleText($fs-1,$fw-normal,$color-gray-4);
            }
            .rating{
                .rating_star{
                    @include styleText($fs-1,$fw-normal,$color-yellow);
                    margin-right: $mg-0;
                }
                span:nth-child(2){
                    @include styleText($fs-1,$fw-bold,$color-gray-4);
                    margin-right: $mg-0;
                }
                span:last-child{
                    @include styleText($fs-1,$fw-normal,$color-gray-4);
                }

            }
            .price{
                text-align: right;
                .old-price{
                    @include styleText($fs-1,$fw-normal,$color-gray-4);
                    text-decoration: line-through;
                }
                .new-price{
                    @include styleText($fs-0,$fw-bold,$color-black-0);
                }
            }
        }
    }
}