.myStudent{
    margin-top: $mg-2;
    .student_content{
        width: 80%;
        margin: auto;

        .card-title{
            @include styleText($fs-0,$fw-bold,$color-black-0);
        }
        .card-text{
            @include styleText($fs-1,$fw-normal,$color-gray-4);
        }
        .rating{
            .rating_star{
                @include styleText($fs-1,$fw-normal,$color-yellow);
                margin-right: $mg-0;
            }
            span:nth-child(2){
                @include styleText($fs-1,$fw-bold,$color-gray-4);
                margin-right: $mg-0;
            }
            span:last-child{
                @include styleText($fs-1,$fw-normal,$color-gray-4);
            }

        }
        .price{
            text-align: right;
            .old-price{
                @include styleText($fs-1,$fw-normal,$color-gray-4);
                text-decoration: line-through;
            }
            .new-price{
                @include styleText($fs-0,$fw-bold,$color-black-0);
            }
        }
    }
}